<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Confirm registration</title>
   <link rel="stylesheet" type="text/css" href="/public/styles/_shared.css">
</head>
<body>
   <div class="shared-main">
      <img src="/public/assets/logo.svg" class="shared-logo" />
      <div class="shared-content">
         <img src="/public/assets/logo.svg" class="shared-icon" />
         <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis, porro vel mollitia a odit error iure deleniti, aliquam sed dolorum natus similique impedit? Maiores pariatur quia quod nihil dolorem earum?</p>
         <a href="<%= link %>" role="button" class="shared-btn">Verify</a>
      </div>
      <div class="shared-copyright">
         copyright
      </div>
    </Grid>
</body>
</html>